[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
jupyter = "*"
ipympl = "*"
kiwisolver = "*"
pyspark = "*"
pylint = "*"

[dev-packages]
pylint = "*"

[requires]
